<!-- <ejs-treegrid *ngIf="original_data" [dataSource]='data' [treeColumnIndex]='1'
[treeColumnIndex]='1' [allowPaging]='true' [pageSettings]='pageSettings'  (change)='valueChange($event)' Deleting="1">
    
</ejs-treegrid> -->
<div class="control-section">
    <ejs-dropdownlist id='value' #sample index='0' width='220' [dataSource]='ddlData' (change)='valueChange($event)' [fields]='fields' [popupHeight]='height'></ejs-dropdownlist>
    <span id='msg'></span>
    <br/>
    <ejs-grid [editSettings]='editSettings' #overviewgrid id='overviewgrid' [dataSource]='data' [query]='query' rowHeight='38' [allowSelection]='true' [allowSorting]='true'  height='600' (dataBound)='onDataBound($event)' [enableHover]='false'  [selectionSettings]='selectionSettings' [filterSettings]='filterSettings' [allowSorting]='true' [allowFiltering]='true' [enableVirtualization]='true'>
        <e-columns>
            <e-column type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='60'></e-column>
            <e-column field='EmployeeID' [visible]='false' headerText='Employee ID' width='130' [isPrimaryKey]='true'></e-column>
            <e-column field='Employees' headerText='Employee Name' clipMode='EllipsisWithTooltip' width='200'>
                <ng-template #template let-data>
                    <div>
                        <div class="empimg">
                          <span *ngIf="data.EmployeeImg === 'usermale'" class="e-userimg sf-icon-Male">
                          </span>
                          <span *ngIf="data.EmployeeImg === 'userfemale'" class="e-userimg sf-icon-FeMale">
                        </span>
                        </div> 
                        <span id="Emptext">
                            {{data.Employees}}
                        </span>
                      </div>                  
                </ng-template>
            </e-column>
            <e-column field='Designation' headerText='Designation' clipMode='EllipsisWithTooltip' width='170' ></e-column>
            <e-column field='Mail' headerText='Mail' [filter]='filterSettings' width='230'></e-column>
            <e-column field='Location' headerText='Location' width='140'>
                <ng-template #template let-data>
                    <div class="loc">
                        <span id="locationtext">{{data.Location}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='Status' headerText='Status' width='150'>
                <ng-template #template let-data>                       
                    <div *ngIf="data.Status === 'Active';else login" class="statustemp e-activecolor">                                          
                            <span class="statustxt e-activecolor">{{data.Status}}</span>           
                    </div>
                    <ng-template #login>
                        <div class="statustemp e-inactivecolor">
                            <span class="statustxt e-inactivecolor">{{data.Status}}</span>
                        </div>
                        </ng-template>
                </ng-template>               
            </e-column>
            <e-column field='Trustworthiness' headerText='Trustworthiness' width='200'>
                <ng-template #template let-data>
                    <div class="trust">
                        <img style="width: 31px; height: 24px" src="https://ej2.syncfusion.com/angular/demos/assets/grid/images/{{data.Trustworthiness}}.png" />                        
                                <span id="Trusttext">{{data.Trustworthiness}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='Rating' [allowFiltering]='false' headerText='Rating' width='160'>
                <ng-template #template let-data>
                    <div class="rate">
                        <div class="rating">
                            <span *ngFor="let i of item" [ngClass]="{'checked': data.Rating >= i, 'star': true }"></span>
                        </div>
                    </div>                            
            </ng-template>
            </e-column>
            <e-column field='Software' headerText='Software' [allowSorting]='false' [allowFiltering]='false' width='180'>
                <ng-template #template let-data>
                    <div id="myProgress" class="pbar">
                        <div id="myBar"  *ngIf="data.Status === 'Inactive';" [style.width.%]= data.Software class="bar progressdisable">
                          <div id="pbarlabel" class="barlabel">{{data.Software}}%</div>
                        </div>    
                        <div id="myBar"  *ngIf="data.Status === 'Active';" [style.width.%]= data.Software class="bar">
                                <div id="pbarlabel" class="barlabel">{{data.Software}}%</div>
                              </div>                               
                      </div>                              
                </ng-template>
            </e-column>
            <e-column field='CurrentSalary' headerText='Current Salary' [filter]='filterSettings' format='C2' width='160'></e-column>
            <e-column field='Address' headerText='Address' [filter]='filterSettings' clipMode='EllipsisWithTooltip' width='240'></e-column>
        </e-columns>
    </ejs-grid>   
</div>
<!-- <ejs-grid [dataSource]='data' [editSettings]='editSettings' height='315px'>
    <e-columns>
        <e-column field='Employees' headerText='Order ID' textAlign='Right' isPrimaryKey='true' width=100></e-column>
        <e-column field='Status' headerText='Customer ID' width=120></e-column>
        <e-column field='Location' headerText='Freight' textAlign= 'Right' width=120 format= 'C2'></e-column>
    </e-columns>
</ejs-grid> -->
<!-- <input  (click)="loadmore()" type="submit" class="btn btn-primary w-100" value="Load more" name=""> -->