<nav style="    background: #7294ff !important;
" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Welcome {{user_obj.Employees}}-{{user_obj.EmployeeID}}({{user_obj.Designation}})</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" >Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class=" btn-primary nav-item text-white" role="button">
                    <a class="nav-link text-white" (click)="logout()">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>