/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';
_:-ms-fullscreen, :root .highcontrast .e-userimg.sf-icon-Male::before,
_:-ms-fullscreen, :root .highcontrast .e-userimg.sf-icon-FeMale::before{
  color: black;
}
// :host-context(.highcontrast) /deep/ .e-userimg.sf-icon-Male::before,
// :host-context(.highcontrast) /deep/ .e-userimg.sf-icon-FeMale::before{       
//   color: black;
// }
#Emptext{
top: -12px;
left: 41px;
position: relative;
}
#overviewgrid.e-rtl #Emptext{
  top: -12px;
  left: -41px;
  position: relative;
}

.empimg{
height: 27px;
width: 29px;
border-radius: 14px;
background-color:#e3165b;
}
// :host-context(.bootstrap)  /deep/ .empimg{
//   background-color:#0078d6; 
// }
// :host-context(.bootstrap4)  /deep/ .empimg{
//   background-color:#0078d6; 
// }
// :host-context(.bootstrap5)  /deep/ .empimg{
//   background-color:#0078d6; 
// }
// :host-context(.fabric) /deep/ .empimg {
//   background-color:#0078d6; 
// }
// :host-context(.material) /deep/  .empimg{
//   background-color:#e3165b !important; 
// }
// :host-context(.highcontrast) /deep/ .empimg{
//   background-color:#ffd939; 
// }
// :host-context(.tailwind)  /deep/ .empimg{
//   background-color:#4f46e5; 
// }
// :host-context(.fluent)  /deep/ .empimg{
//   background-color:#106EBE; 
// }

.e-userimg.sf-icon-Male::before,
.e-userimg.sf-icon-FeMale::before{ 
font-size: 13px;
}

.e-userimg.sf-icon-Male, .e-userimg.sf-icon-FeMale {  
margin: 0px 8px;
line-height: 26px;
color: white; 
font-size: 13px;
}


.e-userimg.sf-icon-Male::before{
  content: '\e700';      
}
.e-userimg.sf-icon-FeMale::before{
  content: '\e701';      
}
// :host-context(.highcontrast) /deep/ #overviewgrid td.e-rowcell.e-selectionbackground.e-active {
//   background-color: transparent;
//   color: white;
// }

.e-bigger #overviewgrid .statustxt{
  position: relative;
}

.rating .star {
  font-size: 132%;
  color: lightgrey;
}

.rating .star.checked {
  color: #ffa600;
}

.rating .star:before {
  content: '★';
}

#overviewgrid ::ng-deep td.e-rowcell.e-selectionbackground.e-active {
  background-color: transparent;
}

.e-image {
  height: 13px;
  width: 14px;
}

td.e-rowcell .statustxt.e-activecolor {
  color: #00cc00;
  position: relative;
  top: 9px;
}

.bootstrap5 td.e-rowcell .statustxt.e-inactivecolor,
.bootstrap5 td.e-rowcell .statustxt.e-activecolor {
  top: 8px;
}

.bootstrap5 .e-checkboxfiltertext .statustemp .statustxt.e-activecolor,
.bootstrap5 .e-checkboxfiltertext .statustemp .statustxt.e-inactivecolor {
  position: relative;
  top: 1.5px;
}

.e-bigger.bootstrap5 .e-checkboxfiltertext .statustemp .statustxt.e-activecolor,
.e-bigger.bootstrap5 .e-checkboxfiltertext .statustemp .statustxt.e-inactivecolor {
  top: -0.5px;
}

.bootstrap5 .e-checkboxfiltertext #Trusttext {
  margin-left: -4px;
}

td.e-rowcell .statustxt.e-inactivecolor {
  color: #e60000;
  position: relative;
  top: 9px;
}

.statustemp.e-inactivecolor {
  background-color: #ffd7cc;
  width: 64px;
}

.statustemp.e-activecolor {
  background-color: #ccffcc;
  width: 57px;
}

.statustxt.e-activecolor {
  color: #00cc00; 
  position: relative;
  top: 9px;   
}

.statustxt.e-inactivecolor {
    color: #e60000; 
    position: relative;
    top: 9px; 
}
.statustemp {
  position: relative;
  height: 19px;
  border-radius: 5px;
  text-align: center
}

// :host-context(.highcontrast) /deep/ #msg {
//   color: #FFFFFF
// }

#msg {
  font-family: "Segoe UI", "GeezaPro", "DejaVu Serif", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.95;
  color: #333;
  float: right;
  margin-top: -24px;
}

@media only screen and (max-width: 370px) {
  #msg {           
      float: left;
      margin-top: 3px;
  }
  #overviewgrid{
      margin-top:36px;
  }
}

#samplecontainer {
  padding-top: 5px;
}

#myProgress {
  position: relative;
  height: 18px;
  width: 10em;
  text-align: left;
  background-color: white;
}
// :host-context(.highcontrast) /deep/ #overviewgrid #myProgress{
//   background-color: black;
// }

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #00b300;
}
#myBar.progressdisable {
  background-color: #df2222;
}
#pbarlabel {
  position: relative;
  left:10px;
  line-height: 18px;
  font-size: 10px;
  color: white;
}
